/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
	       미디어 쿼리 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*화면 width 1400px 미만일 때 */
@media screen and (max-width : 1400px){
	nav#gnb {
		width: 100%;
		padding-left: 15px;
	}

	div#main div.mainWrap div.mainText{
	left : 65px;
	}
}


/*화면이 1160px 미만일 때*/
@media screen and (max-width : 1160px){

	section#awards div.awardsWrap {
		width: 100%;
		padding: 0px 15px;
	}
	div.awardList{
		justify-content: space-between;
		flex-wrap: wrap;
	}
	div.awardList>a{
		width: calc(50% - 8px);
		margin-bottom: 15px;
		background-size: auto 16px;
	}
	section#awards div.awardTitle{
		margin-bottom:  30px;
	}
	/*awards 섹션의 타이틀 이미지 스타일*/
	section#awards div.awardTitle img{
		margin-right: 10px;
		width: auto;
		height: 25px;
	}
	/*awards 섹션의 타이틀 h2 스타일*/
	section#awards div.awardTitle h2{
		font-size: 18px;
		top : 0px;
	}
	/*2번째 리스트 secondListWrap*/
	section#awards div.secondListWrap{
		flex-direction: column;
		margin-top : 40px;
	}
	div.secondListWrap div.gdwebAward {
		width: 100%  ;
	}

	/*3번째 리스트 Kaward*/
	section#awards div.Kaward {
		width: 100%;
		margin-top: 40px;
	}

	/*4번째 리스트 etcAward*/
	section#awards div.etcAward{
		margin-top: 40px;
		position : relative;
	}
	section#awards div.etcAward img.etcAward_bg{
		height: 142px;
		padding: 0px;
		right: 0px;
		bottom : 0px;
	}
	section#awards div.etcAward a.blank{
		display: none;
	}


	/********************************
		section mainContent style
	**********************************/

	div.mcWrap div.mcTextBox {
		width: 100%;
		padding: 0px 15px;
	}




}

/*화면이 1101px 이상일 때 */
@media screen and (min-width : 1101px){
	nav#mobileGnb{
		display : none;
	}
}

/*********************************
	화면이 width 1100 미만일 때 
**********************************/
@media screen and (max-width : 1100px){

	/*mobileGnb style*/
	div.header_top_wrap{
		display: none;
	}

	header#header {
		height: 60px;
	}

	/*Gnb 네비게이션 스타일*/
	a#logo {
		width: 38px;
		height: 36px;
		background-size: 100%;
		top : 12px;
		left : 50%; 
		margin-left : -19px;
	}
	div#consultWrap{
		width: 92px;
		height: 60px;
		top : 0px;
	}
	a.hambergerBtn span {
		display: inline-block;
		width: 40px;
		height: 40px;
		position : absolute;
		left : 15px;
		top : 15px;
		font-size: 2.5rem;
/*		border : 1px solid red;*/
		line-height: 40px;
	}
	/*gnb_m_wrap style */
	div#gnb_m_wrap{
		width: 100%;;
		position : absolute;
		top : 60px;
	}
	/*gnb_m style -> dept1*/
	ul.gnb_m{
		width: 100%;
		padding: 0;
	}
	ul.gnb_m>li {
		width: 100%;
		font-size: 16px;
		font-weight: bold;
		cursor: pointer;
		z-index: 1;
		background-color: beige;
	}
	ul.gnb_m>li>a, .gnb_m_dept2>li>a, .gnb_m_dept3>li>a {
		display: inline-block;
		width: 100%;
		height: 60px;

		line-height: 60px;
		padding-left: 15px;

		border-bottom: 1px solid #D0CBCB;
		border-top:  1px solid #D0CBCB;
	}

	/*google icon style */
	span.material-symbols-outlined {
		position : absolute;
		right : 0px;
		margin-right: 15px;
		font-size: 2em;
		font-weight: normal;
		line-height: 60px;
		cursor: pointer;
	}
	span.closeBtn{
		display : none;
	}
		/*gnb_m_dept2 style
		모바일 네비게이션 dept2*/
		.gnb_m_dept2{
	/*		display: none;*/
	padding: 0px;
	}
	.gnb_m_dept2>li {
		padding: 0px;
		line-height: 20px;
		z-index: 9999;

	}
	.gnb_m_dept2>li:hover{
		background-color: lightblue;
	}
	.gnb_m_dept2>li>a {
		padding-left: 30px;

	}

	/*gnb_m_dept3 style
	모바일 네비게이션 dept3*/
	.gnb_m_dept3{
	/*		display: none;*/
	padding: 0px;
	}
	.gnb_m_dept3>li {
		padding: 0px;
		line-height: 20px;
	}
	.gnb_m_dept3>li>a {
		padding-left: 43px;
	}


	/*메인 컨텐츠 섹션 1 영역 스타일 */
	div#main {
		margin-top : 60px;
		height: 400px;
	}

	div#main div.mainWrap{
		width: 100%;
	}
	/*메인 text 스타일 */
	div#main div.mainWrap div.mainText{
		top :20%;
	}
	.pc_text{
		display: none;
	}
	div#main div.mainWrap div.mainText h2{
		font-size: 30px ;
	}
	div.mainWrap div.mainText p.m_text_1100{
		display: block;
		font-size: 15px ;
		line-height: 28px;
	}

	/*화면 1100px 시계 style*/
	div#main div.mainWrap div.mainClock{
		width: 400px;
		height: 400px;
		right : 50px;
		top : 0px;
	}
	div.mainClock div.centerCircle{
		top : 190px;
		left : 205px;
	}
	div.mainClock div.hour{
		top : 98px;
		left : 210px;
	}
	div.mainClock div.minutes{
		top : 80px;
		left : 210px;
	}
	div.mainClock div.seconds{
		top : 60px;
		left : 215px;
	}


	/********************************
		section mainContent style
	**********************************/
	div.mcWrap div.mcTabBox{
		display: none;
	}


	/*************************
 	section 3번쨰 difStrategy style
	* **************************/
	section#difStrategy {
		display: none;
	}

	/*************************
 	section 4번째 malgumStory style
	* **************************/
	section#malgumStory{
		margin-top: 70px;
	}
	div.msContentBox{
		padding: 0px 15px;
	}
	div.msContentBox div.msContentList{
/*		display: inline-block;*/
		width: 100% !important;
	}
	div.msContentBox div.msContentList>div.msContent{
		flex: 0 0 48%;
		width: 50%;
		float: left;
		margin : 50px 1%;
	}
	div.ms_c_imgbox{
		display : none;
	}
	div.ms_c_imgbox_m{
		display: block;
	}
	div.ms_c_imgbox_m>img {
	display: block;
	width: 100%;
	height: auto !important;
	padding-bottom: 40px;
	}

	/*************************
 	section 4번째 main bottom style
	* **************************/
	section#main_bottom_sec {
		display: flex;
		flex-direction: column;
		flex-wrap: no-wrap;
		justify-content: start;
	}
	section#main_bottom_sec div.imgBox{
		width: 100%;
		height: 300px;
		display: block;
	}
	div.textWrap {
		display: block;
		width: 100%;
		top : 300px;

	}

	/*****************************
		footer style
	*****************************/
	footer#footer{
		margin-top: 300px;
	}
	div.footerTextBox div.footerTel{
		display: none;
	}
	div.footer_sns{
		position : relative;
		left : 85px;
		bottom :0px;
		display: flex;
		margin-top : 20px;
	}

	div.footer_sns ul li {
		width: 40px;
		height: 40px;	
		text-indent: -9999px;
		display: inline-block;
		margin-right: 10px;
	}
	div.footer_sns ul li a {
		display: inline-block;
		width: 100%;
		height: 100%;
	}
	div.footer_sns ul li:nth-child(1){
		background-image: url(../img/main/icon_fb_m.png);
		background-size: 100%;
	}
	div.footer_sns ul li:nth-child(2){
		background-image: url(../img/main/icon_naver_m.png);
		background-size: 100%;
	}
	div.footer_sns ul li:nth-child(3){
		background-image: url(../img/main/icon_insta_m.png);
		background-size: 100%;
	}

	div.footerWrap div.footerTextWrap {
		width: 100%;
		padding-left: 15px;
	}
	ul.footerNav {
		margin-left: 15px;
	}
}/*********************************
	화면이 width 1100 미만일 때  끝end
**********************************/


/************************************
		화면이 740px 보다 작을 때 시작
*************************************/
@media screen and (max-width : 740px){

	
	/*첫번째 섹션*/	
	div#main{
		height: 300px;
	}
	div#main div.mainWrap div.mainText{
		left : 15px;
		top : 30px;
	}
	div#main div.mainWrap div.mainText>h2{
		font-size: 24px;
	}
	div#main div.mainWrap div.mainText p.m_text{
		font-size: 14px;
		font-weight: blod;
	}

	div#main div.mainWrap div.mainClock
	{
		width: 300px;
		height: 300px;
		right: -40px;
	}
	div.mainClock div.centerCircle{
		top : 140px;
		left : 155px;
	}
	div.mainClock div.hour{
		top : 73px;
		left : 165px;
	}
	div.mainClock div.minutes{
		top : 58px;
		left : 165px;
	}
	div.mainClock div.seconds{
		top : 43px;
		left : 165px;
	}


	/********************************
		section awards style
	**********************************/
	section#awards{
		padding: 60px 0px;
	}

	/********************************
		section mainContent style
	**********************************/
	section#mainContent div.mcWrap{
		padding: 30px 0px ;
		margin-bottom : 0px;
	}
	div.mcTextBoxInner p.mcPText{
		display: none;
	}

	div.mcTextBoxInner h2{
		font-size: 20px;
	}
	div.mcTextBoxInner h2 span{
		font-size: 14px;
		line-height: 30px;
		margin-left: 10px;
	}
	div.mcTextBoxInner p.mcLink{
		line-height: 0px;
		margin-top: 18px;
	}

	/*이미지 박스 영역 style*/
	div.mcImgBox ul.mcImgList li:nth-child(5),
	div.mcImgBox ul.mcImgList li:nth-child(6),
	div.mcImgBox ul.mcImgList li:nth-child(7),
	div.mcImgBox ul.mcImgList li:nth-child(8) {
		display: none;
	}
	div.mcImgBox ul.mcImgList li{
		width: 50%;
	}


	/*************************
 	section 4번째 malgumStory style
* **************************/
	section#malgumStory{
		margin-top: 70px;
		padding: 60px 0px;
	}
	div.msTextBox{
		margin-bottom: 0px;
	}

	div.msTextBox>h2{
		font-size: 26px;
	}
	div.msTextBox>h2+p{
		font-size: 16px;
		margin-bottom: 0px;
	}
	div.msContentBox div.msContentList>div.msContent{
		margin : 30px 1%;
	}


	/*************************
 	마지막 section main bottom style
* **************************/
	div.textWrap {
		padding: 30px;
		height: auto;
	}
	div.textBox div.mbs_title h3{
		font-size: 20px;
		margin-bottom: 20px;
	}
	div.textBox div.mbs_title h4{
		font-size: 16px;
	}
	div.textBox a.btn_plus{
		position : absolute;
		top : 20px; 
		right : 20px;
		width: 30px; 
		height: 30px;
	}

	/*****************************
		footer style
	*****************************/
	footer#footer{
		margin-top: 148px;
	}
	ul.footerNav li>a{
		padding: 0px 15px;
		font-weight: nomal;
		font-size: 13px;
	}
	ul.footerNav {
		margin-left: 30px;
	}
	div.footerTextWrap div.footerTextBox{
		text-align: center;
	}
	div.footerTextWrap div.footerTextBox h2 a{
		display: inline-block;
		position : relative;
		top : -10px;
	}
	div.footerTextBox div.footer_info{
		text-align: left;
		padding-left: 3px;
		font-size: 13px;
		font-weight: normal;
	}
	

	div.footer_sns ul li{
		position : relative;
		
	}
	
}	
