/*************************
	 * 	reset style
 * ***********************/
		 *{
		 	padding: 0;
		 	margin: 0;
		 	list-style: none;
		 	box-sizing: border-box;
		 }
		 a {
		 	color : black;
		 	text-decoration: none;
		 }
		 ul#gnbL li a:hover , ul#gnbR li a:hover ,ul.dept2 > li a:hover, ul.dept3 > li a:hover{
		 	color : #2CC1EA;
		 }
		 .hover {
		 	color : #2CC1EA;
		 }
		 .on {
		 	display: block !important;
		 }
		 .dept3on {
		 	display: block !important;
		 }
		 .fontsize13{
		 	font-size: 0.8em !important;
		 }
		 .blank{
		 	opacity: 0;
		 }
		 .nav_on{
		 	color : #2CC1EA !important;
		 }
		 body, html {
		 	overflow-x: hidden;
		 }


/*************************
	 	header style
* ***********************/
header#header {
	position: fixed;
	top : 0px;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #dedede;
	z-index: 999;
	background-color : #FFFFFF;
}
div.header_top_wrap {
	width: 1170px;
	width: 100%;
	height: 100%;
	margin : 0 auto;
	position : relative;
}
/*******************************
		pc버전 gnb style
*********************************/

nav#gnb{
/*	background-color: gray;*/
	width: 1170px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}

/*gnbL style*/
ul#gnbL>li.gnbL_li {
/*	border: 1px solid red;*/
	position : relative;
	float: left;
	width: 13%;
	height: 100px;
	text-align: center;
	line-height: 110px;

}
ul#gnbL>li.gnbL_li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 17px;
	font-weight: bold;
	padding-top: 10px;
	color : black ;
	margin-bottom: 26px;
}	
ul#gnbL>li.nav_on>a{
	color : #2CC1EA ;
}

/*gnbR style*/

ul#gnbR>li.gnbR_li {
/*	border: 1px solid blue;*/
	position : relative;
	float: left;
	width: 13%;
	height: 100px;
	text-align: center;
	line-height: 125px;
	left : 250px;
}
ul#gnbR>li.gnbR_li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 17px;
	font-weight: bold;
	color : black;
}
ul#gnbR>li.nav_on>a{
	color : #2CC1EA ;
}


/*네비게이션 맑음 로고*/
a#logo {
	display: block;
	width: 60px;
	height: 57px;
	text-indent: -9999px;
	text-decoration: none;
	background: url(../img/main/logo_new.png) no-repeat;
	position : absolute;
	left : 47.5%;
	top : 20px;
}

/*************************
	 	상담하기 style
* ***********************/
div#consultWrap{
	background: url("../img/main/gnb_consult_bg_w180_44.png") no-repeat;
	background-position: 50px -25px;
	width: 150px;
	height: 90px;
	position : absolute;
/*	border: 1px solid blue;*/
	right : 0px;
	top : 0px;

	animation : consultImg 4s steps(45) infinite;
}


@keyframes consultImg{
	0% , 100% {background-position: -15px }
	49%, 51% {background-position: -8115px}
	
}

div#consultWrap:hover{
	background: url("../img/main/gnb_consult_bg_w180_hover_44.png") no-repeat;
	background-position: -30px -20px;

	animation : consultImg 4s steps(45) infinite;
}

div#consultWrap a{
	display: block;
	width: 150px;
	height: 90px;
	position: absolute;
	left : -10px;
	bottom : -5px;
	text-align: center;
	line-height: 110px;
	font-size: 13px;
	color : white;
}
div#consultWrap a::before {
	background-image: url(../img/main/btnContact_img.png);
	content : "";
	display: inline-block;
	width: 23px ;
	height: 22px;
	position: relative;
	bottom : 15px;
	left : 40px;
}

/********************************
	 	서비스 소개 Dept2 style
* *******************************/
div.serviceDept2{
	display: none;
	width: 100%;
	border : 1px solid lightgray;
	margin : 0 auto ;
/*	margin-left: -15px;*/
	position : absolute;
	top : 100px;
	background-color: #fff;
	width: 100%;
	padding-left: 32px;
}
ul.dept2 {
	width: 1170px;
	margin : 0 auto;
/*	border : 1px solid blue;*/
}
ul.dept2 > li {
	width: 17%;
	float: left;
	display: inline-block;
/*	border : 1px solid blue;*/
	font-size: 17px;
	
	font-weight: bold;
	padding: 30px 0px 40px 0px;
}

ul.dept2 > li a {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 35px;
	color : black;
	text-align: left !important;
}
ul.dept2 > li.nav_on> a{
	color : #2CC1EA;
}

ul.dept3 > li {
	display: flex;
	justify-content: space-between;
/*	border : 1px solid black;*/
	font-size: 14px ;
	font-weight: normal;
	margin-left : -32px;
}
ul.dept3 > li:nth-child(1){
	margin-top: 15px;
}
ul.dept3 > li a {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 35px;
	color : black;
	text-align: left !important;
}

 

/**********************
	각 메뉴별 하위 메뉴 
***********************/
div.dept2Wrap  {
	display: none;
}
div.dept2Wrap > ul{
	border : 0.5px solid lightgray;
	width: 125%;
	position : relative;
	top : -26px;
	left : -20px;
	padding: 20px 0px;
	display: flex;
	flex-direction: column;
	background-color: white;

}
div.dept2Wrap > ul li {
/*	border : 1px solid blue;*/
	position: relative;
	display: flex;

}
div.dept2Wrap > ul>li  a{
/*	border : 1px solid black;*/
	display: inline-block;
	width: 100%;
	height: 30px !important;

	font-size: 14px !important;
	font-weight: normal !important;
	padding: 7px 30px !important;
	margin: 0px !important;
	line-height: 15px;
	text-align: left;
	color : black;
}

div.dept2Wrap > ul>li:hover  a{
	color : #2CC1EA !important;
}
