body, html {
	overflow-y: visible;
}
*{
	margin: 0;
	padding: 0;
}

h3.h3_viewMax_770{
	display: none;
}

/*****************************
	web_agency_content style
*******************************/
section#web_agency_content {
	width: 100%;
	position: relative;
	top : 100px;
/*	border : 1px solid red;*/
}

div.web_agencyWrap{
	width: 1170px;
	margin: 0 auto;
/*	border : 1px solid blue;*/
}
div.wa_header{

	margin-bottom: 50px;

}
/*컨텐츠 헤더 텍스트 스타일*/
div.headerTxt {
	width: 100%;
	height: 200px;
	text-align: center;
	padding-top: 80px;
}
div.headerTxt h1 {
	font-size: 35px;
	font-weight: bold;
}

/*로컬 네비바 스타일*/
ul.wa_lnb {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position : relative;
}
ul.wa_lnb>li {
	width: 19.5%;
	height: 60px;
	
	text-align: center;
	border : 1px solid #979797;
	z-index: 100;
}
ul.wa_lnb>li>a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 55px;
	font-size: 16px;
	font-weight: bold;
	color : #979797;
}

/****************************
웹 에이전시 메인 컨텐츠 스타일 
******************************/
div.wa_mainWrap{
	width: 1170px;
	position : relative;
	margin: 0 auto;
	margin-bottom: 100px;
}
div.wa_main{
	display: flex;
	flex-direction: row;
}
div.wa_mainTxtBox{
	position : relative;
	width: 50%;
	padding-left: 50px;

}
/*검은 박스 안 텍스트*/
div.wa_mainTxt01{
	width: 180px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	color : white;
	background-color: #0A0707;

	margin-bottom: 30px;
}

/*메인 두번째 텍스트 스타일 .wa_mainTxt02 */
div.wa_mainTxt02{
	margin-bottom: 50px;
}
div.wa_mainTxt02>p {
	font-size: 37px;
	margin-bottom: 0px;
}
div.wa_mainTxt02>h2{
	font-size: 37px;
	font-weight: bold;
}
div.wa_mainTxt02>h2>span {
	color : #2CC1EA;
}
div.wa_mainTxt02>h2::before{
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;
	position :absolute;
	left : 28px;
	top : 110px;
}

/*메인 세번째 텍스트 스타일 .wa_mainTxt03 */
div.wa_mainTxt03>p{
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 25px;
}
div.wa_mainTxt03>p:first-child::before{
	content : "";
	width: 35px;
	border-top : 1px solid black;
	display: block;
	margin-bottom: 30px;
}
p.p_viewMax_770{
	display: none;
}

/*웹 에이전시 메인 이미지 박스 스타일 wa_mainImgBox*/
div.wa_mainImgBox{
	width: 50%;
	height: 500px;
	background-image: url('../img/what_we_do/w-intro_img.png');
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	top : 60px;
}

/************************
	웹 에이전시 진행과정 스타일 영역 
	wa_processWarp style
*************************/
div.wa_processWarp {
	width: 100%; 
	background-color: #e0e3e7;
	margin : 0 auto; 
	padding: 80px 0px;
}
div.wa_process{
	width: 1170px;
	margin : 0 auto;
}

/*list 스타일*/
ul.wa_process_ul{
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position : relative;

}
ul.wa_process_ul p {
	font-size: 13px;
	margin-top: 5px;
}
ul.wa_process_ul>li{
	width: 16.666%;
	padding: 22px ;
}

div.wa_p_list{
	width: 100%;
	position : relative;
	background-color: white;
	box-shadow: 0 0 10px #c1c1c1;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 20px;
}

ul.wa_process_ul>li:nth-child(1)::after,
ul.wa_process_ul>li:nth-child(2)::after,
ul.wa_process_ul>li:nth-child(3)::after,
ul.wa_process_ul>li:nth-child(4)::after,
ul.wa_process_ul>li:nth-child(5)::after{
	z-index: 99;
	content: '';
	display: block;
	width: 76px;
	height: 11px;
	background-image: url(../img/what_we_do/step_arrow.png);
	position: relative;
	left: 135px;
	bottom : 50%;
	margin-top: -5.5px;
}

div.wa_p_list_2{
	transform: rotateZ(-15deg);
}

div.back_img_blue{
	background-color: #2d89e8;
	width: 13%;
	height: 150px;
	position: absolute;
}
/* 리스트 안 이미지 스타일*/
div.wa_pl_img{
	width: 100%;
	display: flex;
	justify-content: center;
}


/************************
	웹 에이전시 반응형 홈페이지 스타일 영역 
	wa_content2Wrap style
*************************/
div.wa_content2Wrap{
	width: 100%;
	position: relative;
	padding: 100px 0px;
}
div.wa_content2Box{
	width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/*2번째 컨텐츠 텍스트 박스 스타일*/
div.wa_cont2_textBox{
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
div.wa_cont2_textBox>h3>strong{
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
}
div.wa_cont2_textBox>h3>strong::after {
	content : '';
	display: block;
	width: 100%;
	height: 25px;
	background-color: #2CC1EA;
	position: absolute;
	top : 15px;
	opacity: 0.3;
}
div.wa_cont2_textBox>p::before{
	content: '';
	display: block;
	width: 30px;
	height: 1px;
	background-color: black;
	position: relative;
	margin-top: 50px;
	margin-bottom: 30px;
}
/*2번째 컨텐츠 이미지 박스 스타일*/
div.wa_cont2_imgBox{
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}
div.wa_cont2_img>p {
	margin-top : 13px;
	font-size: 14px;
}

/************************
	웹 에이전시 3번째 컨텐츠 스타일 영역 
	wa_content3Wrap style
*************************/
div.wa_content3Wrap{
	width: 100%;
	background-color: #F1F1F1;
	padding: 100px 0px 75px 0px;
}
div.wa_content3Box{
	width: 1170px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
div.wa_cont3_process{
	display: flex;
	flex-direction: row;
}
div.wa_cont3_imgBox{
	padding-right: 20px;
}
div.wa_cont3_imgBox div.plusImg{
	width: 38px;
	height: 38px;
	background-image: url(../img/what_we_do/process_plus.png);
	position : relative;
	left : 147px;
	top : -100px;
}
div.wa_cont3_result div.equalImg{
	width: 38px;
	height: 38px;
	background-image: url(../img/what_we_do/process_e.png);
	position : relative;
	left : -80px;
	top : -100px;
}

div.wa_cont3_imgBox:nth-child(6){
	display: none;
}
/************************
	웹 에이전시 4번째 컨텐츠 스타일 영역 
	wa_content4Wrap style
*************************/
div.wa_content4Wrap{
	width: 100%;
	background-color: #D5D5D5;
	padding: 50px 0px 40px 0px;
}
div.wa_content4Box{
	width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center
}
div.wa_content4Box h3{
	font-size: 25px;
}
div.wa_content4Box>h3>strong{
	display: inline-block;
	position: relative;
}
div.wa_content4Box>h3>strong::after {
	content : '';
	display: block;
	width: 100%;
	height: 25px;
	background-color: #2CC1EA;
	position: absolute;
	left : -3px;
	top : 15px;
	opacity: 0.3;
}
div.online_consult{
	border: 1px solid black;
	padding: 15px 40px;
	font-size: 19px;
}

/************************
	웹 에이전시 5번째 컨텐츠 스타일 영역 
	wa_content5Wrap style
*************************/
div.wa_content5Wrap{
	width: 100%;
	background-color: #F1F1F1;
	padding: 100px 0px;
}
div.wa_content5Box {
	width: 1170px;
	margin : 0 auto;
}

div.wa_cont5_txt{
	padding-bottom: 20px;
}
div.wa_cont5_txt>h3 {
	font-weight: bold;
	color: #3955FF;
	font-size: 32px;
}

/*wa_cont5_content style*/
div.wa_cont5_content{
	width: 100%;
	position: relative;
}
div.wa_cont5_content ul{
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
div.wa_cont5_content ul li {
	width: 23.33%;
	margin-bottom: 35px;
	position: relative;
	background-color: white;
	max-height: 350px;
	overflow: hidden;
}
div.wa_cont5_content ul li:nth-child(9){
	display: none;
}

/*헤드 이미지 스타일*/
div.wa_cont5_list_headImg>img {
	width: 100%;
	background-size: contain;
}

/*텍스트 스타일*/
div.wa_cont5_list_txt{
	padding: 30px 20px;

}
div.wa_cont5_list_txt{
	background-color: white;
	height: 100%;
	z-index: 1;
}
div.wa_cont5_list_txt.active{
	width: 100%;
	position : absolute;
	
	background-color: white;
	transition: all 1s;
	animation: txtMoveUp 0.5s;
	animation-fill-mode: forwards;
}

@keyframes txtMoveUp{
	from{top : 100%}
	to {top : 0;}
}

div.wa_cont5_list_txt>h5{
	font-size: 18px;
  	font-weight: bold;
}

h5.wa_cont5_list_txt_h5{
	overflow: hidden;
 	text-overflow: ellipsis;
  	white-space: nowrap;
  	
}
div.wa_cont5_list_txt>p{
	font-size: 13.5px;
	margin : 0px;
	font-weight: lighter
}
div.list_txt_content{
	margin-top : 25px;
}
div.list_txt_content>p{
	width: 0px;
	overflow: hidden;
	font-size: 13.5px;
	margin : 0px;
	font-weight: lighter;
	transition : all 0.15s;
}
div.active>div.list_txt_content>p{
	width: 100% !important;
	font-size: 13.5px;
}

/*바텀 이미지 스타일*/
div.wa_cont5_list_bottomImg{
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 1;
}
/*더보기 스타일*/
div.wa_cont5_plusContent{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
div.plusCont_txt{
	background-color: #E61F4A;
	padding: 15px 25px;
	color: white;
	font-weight: bold;
}
div.plusCont_txt>span {
	margin-right: 30px;
}

/************************
	웹 에이전시 6번째 컨텐츠 스타일 영역 
	wa_content6Wrap style
*************************/
div.wa_content6Wrap{
	width: 100%;
	padding: 100px 0px;
	background-color: white;
}
div.wa_content6Box {
	width: 1170px;
	margin : 0 auto;
}
div.wa_cont6_txt{
	padding-bottom: 40px;
}
div.wa_cont6_txt>h3 {
	font-weight: bold;
	color: #3955FF;
	font-size: 32px;
}
/*wa_cont6_content style*/
div.wa_cont6_content{
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
}

div.wa_cont6_list {
	width: 18%;
	margin-bottom: 35px;
	position: relative;
	background-color: white;
	max-height: 350px;
	overflow: hidden;
	border: 1px solid lightgray;
}
/*헤드 이미지 스타일*/
div.wa_cont6_list_headImg>img {
	width: 100%;
	background-size: contain;
}

/*텍스트 스타일*/
div.wa_cont6_list_txt{
	padding: 20px 15px;
	border-top : 1px solid lightgray;
}

/************************
	웹 에이전시 7번째 컨텐츠 스타일 영역 
	wa_content7Wrap style
*************************/
div.wa_content7Wrap{
	width: 100%;
	background-color: white;
	margin-bottom: 100px;
}
div.wa_content7Box {
	width: 1170px;
	margin : 0 auto;
}
div.wa_cont7_txt>h3 {
	font-weight: bold;
	color: #3955FF;
	font-size: 32px;
	margin-bottom: 40px;
}

/*wa_cont7_content style*/
div.wa_cont7_content{
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
}
div.wa_cont7_list {
	width: 23%;
	height: 400px;
	padding: 30px 20px;
	position: relative;
	background-color: white;
	max-height: 350px;
	overflow: hidden;
	border: 1px solid lightgray;
}
div.wa_cont7_list img{
	position: absolute;
	right: 15px;
	bottom: 15px;
}

/*##################################*/
/*##################################*/
/********************************
	웹 에이전시 반응형 홈페이지 스타일 
	rw_mainWrap style
**********************************/
div.rw_mainWrap{
	width: 100%;
	position: relative;
}
div.rw_mainBox{
	width: 1170px;
	margin: 0 auto;
	padding-left: 30px;
	position: relative;
}
/*rw_mainTxtBox style*/
div.rw_mainTxtBox{
	position: relative;
}
div.rw_mainTxt01{
	font-size: 29px;
	font-weight: bold;
	margin-bottom: 40px;
}
div.rw_mainTxt02> h4{
	font-size: 20px;
	font-weight: bold;
}
div.rw_mainTxt02> h5{
	font-size: 16px;
	font-weight: bold;
}
/*rw_mainButtonBox style*/
div.rw_mainButtonBox{
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
}
div.mainTelBox{
	width: 250px;
	padding: 15px 20px;
	background-color : #2DC2EB;
	margin-right: 10px;
}
div.mainTelBox>span {
	display: block;
	font-size: 17px;
	font-weight: bold;
	color : white;
}
div.consultApplyBox{
	width: 170px;
	padding: 15px 20px;
	background-color: #E61F4A;
}
div.consultApplyBox>span{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-right: 40px;
	color : white;
}
/*rw_mainImgBox style*/
div.rw_mainImgBox{
	width: 1170px;
	margin: 0 auto;
	padding: 40px 0px;
	padding-right: 30px;
	margin-bottom: 150px;
}
div.rw_mainImgBox>img {
	display: block;
	width: 100%;
}


/********************************
	웹 에이전시 홈페이지 스타일 
	pw_mainWrap style
**********************************/
div.pw_mainWrap{
	width: 100%;
	position: relative;
}
div.pw_mainBox{
	width: 1170px;
	margin: 0 auto;
	padding-left: 30px;
	position: relative;
}
/*pw_mainTxtBox style*/
div.pw_mainTxtBox{
	position: relative;
}
div.pw_mainTxt01{
	font-size: 29px;
	font-weight: bold;
	margin-bottom: 40px;
}
div.pw_mainTxt02> h4{
	font-size: 20px;
	font-weight: bold;
}
div.pw_mainTxt02> h5{
	font-size: 16px;
	font-weight: bold;
}
/*pw_mainButtonBox style*/
div.pw_mainButtonBox{
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
}

div.mainTelBox>span {
	display: block;
	font-size: 17px;
	font-weight: bold;
	color : white;
}
div.consultApplyBox{
	width: 170px;
	padding: 15px 20px;
	background-color: #E61F4A;
}
div.consultApplyBox>span{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-right: 40px;
	color : white;
}
/*pw_mainImgBox style*/
div.pw_mainImgBox{
	width: 1170px;
	margin: 0 auto;
	padding: 40px 0px;
	padding-right: 30px;
	margin-bottom: 150px;
}
div.pw_mainImgBox>img {
	display: block;
	width: 100%;
}


/********************************
	웹 에이전시 모바일 홈페이지 스타일 
	mw_mainWrap style
**********************************/
div.mw_mainWrap{
	width: 100%;
	position: relative;
}
div.mw_mainBox{
	width: 1170px;
	margin: 0 auto;
	padding-left: 30px;
	position: relative;
}
/*mw_mainTxtBox style*/
div.mw_mainTxtBox{
	position: relative;
}
div.mw_mainTxt01{
	font-size: 29px;
	font-weight: bold;
	margin-bottom: 40px;
}
div.mw_mainTxt02> h4{
	font-size: 20px;
	font-weight: bold;
}
div.mw_mainTxt02> h5{
	font-size: 16px;
	font-weight: bold;
}
/*mw_mainButtonBox style*/
div.mw_mainButtonBox{
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
}
div.mainTelBox{
	width: 250px;
	padding: 15px 20px;
	background-color : #2DC2EB;
	margin-right: 10px;
}
div.mainTelBox>span {
	display: block;
	font-size: 17px;
	font-weight: bold;
	color : white;
}
div.consultApplyBox{
	width: 170px;
	padding: 15px 20px;
	background-color: #E61F4A;
}
div.consultApplyBox>span{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-right: 40px;
	color : white;
}
/*mw_mainImgBox style*/
div.mw_mainImgBox{
	width: 1170px;
	margin: 0 auto;
	padding: 40px 0px;
	padding-right: 30px;
	margin-bottom: 150px;
}
div.mw_mainImgBox>img {
	display: block;
	width: 100%;
}

/********************************
	웹 에이전시 쇼핑몰 스타일 
	sm_mainWrap style
**********************************/
div.sm_mainWrap{
	width: 100%;
	position: relative;
}
div.sm_mainBox{
	width: 1170px;
	margin: 0 auto;
	padding-left: 30px;
	position: relative;
}
/*sm_mainTxtBox style*/
div.sm_mainTxtBox{
	position: relative;
}
div.sm_mainTxt01{
	font-size: 29px;
	font-weight: bold;
	margin-bottom: 40px;
}
div.sm_mainTxt02> h4{
	font-size: 20px;
	font-weight: bold;
}
div.sm_mainTxt02> h5{
	font-size: 16px;
	font-weight: bold;
}
/*sm_mainButtonBox style*/
div.sm_mainButtonBox{
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
}

div.mainTelBox>span {
	display: block;
	font-size: 17px;
	font-weight: bold;
	color : white;
}
div.consultApplyBox{
	width: 170px;
	padding: 15px 20px;
	background-color: #E61F4A;
}
div.consultApplyBox>span{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-right: 40px;
	color : white;
}
/*sm_mainImgBox style*/
div.sm_mainImgBox{
	width: 1170px;
	margin: 0 auto;
	padding: 40px 0px;
	padding-right: 30px;
	margin-bottom: 150px;
}
div.sm_mainImgBox>img {
	display: block;
	width: 100%;
}